{% extends 'base.html' %}
{% block main %}
<div>
    <!-- <img src="" style="width:100%;height:900px" id="image" onclick="next_page()">  -->
    <div style="display:block;text-align:center">
    <img src="" style="height:100%;margin: 0 auto" id="image" onclick="next_page()">
    </div>
    <div style="text-align:center;margin-top:20px;margin-bottom:20px">
    <button onclick="pre_page()">上一页</button>
    当前第<span id="current_page">{{ page }}</span>页|共<span id="max_page">{{ max_page }}</span>页
    <button onclick="next_page()">下一页</button>
    </div>
</div>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/image_func.js"></script>
{% endblock %}
