<!DOCTYPE html>
<html>
<head>
<title>Leon's Comic Gallery</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Themeum">

<!-- Include All Css -->
<link rel="stylesheet" href="/static/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/css/bootstrap.min.css">
<link rel="stylesheet" href="/static/css/fonts.css">
<link rel="stylesheet" href="/static/css/preset.css">
<link rel="stylesheet" href="/static/css/style.css">

<!--[if lt IE 9]>
  <script src="js/html5shive.js"></script>
<![endif]-->

</head>
<body>
<!-- Header Area -->
<header class="header-area inner-page">
  <!-- Header Top Area -->
  <section class="header-top">
    <div class="container">
        <div class="col-sm-12 col-xs-12">
          <div class="logo pull-left">
            <img alt="Leon" style="height:50px;width:50px" src="/static/images/base/logo.jpg">
          </div>
          <div class="login-or-signup pull-right">
            <a href="#">LOGIN</a>
          </div>
        </div>
    </div>
  </section>
  <!-- /.header-top -->
</header>
<!-- /.header-area -->

<!-- Classes Section -->
{% block main %}
<!-- <section class="classes-section-2 main-bg">
  <div class="container">
    <div class="row">
    </div>
  </div>
</section> -->
{% endblock %}
<!-- /.classes-section -->

<!-- Facilities Section -->
<section style="height:600px" class="footer-bg">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-4">
        <div class="title-with-icon">
          <h2 class="title-2">Leon's Comic Gallery</h2>
          <p class="subtitle-2 pull-left">
            个人学习使用，仅供交流<br>后端Django, 前端JS & JQuery<br>使用Scrapy爬取漫画内容.
          </p>
        </div>
      </div>
      <div class="col-md-2 col-sm-6 col-xs-12">
        <div class="quick-link footer-widget">
          <h3>快速链接</h3>
          <ul>
            <li><a href="http://192.168.1.52:8083/home/" target="_blank">个人主页</a></li>
            <li><a href="http://192.168.1.52:8082/front/" target="_blank">综合管理平台</a></li>
            <li><a href="#">Gallery</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
      </div>
       <div class="col-md-6 col-sm-6 col-xs-12">
        <div class="quick-link footer-widget">
          <h3>copy right</h3>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- /.facility-section -->

<!-- Include All JavaScript -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
</body>
</html>

